<div class='hidden' style="font-size:16px;margin-top:50px;">
HelloCareer is a global talents recruitment solution provider, focusing on assisting Chinese local companies and government organizations to hire and build connections with the targeted candidates in more than 30 countries such as US, Canada, UK and Germany.
</div>
<div class="service-bg">
    <div class="service-1 position" style="left:220px">
        <div class="val-des" style="left:10px;">Overseas job posting
        </div>
        <ul class="val">
            <li>Covering North America, Europe and Asia pacific</li>
            <li>Posted on the best local job boards</li>
            <li>Making perfect match between jobs and candidates</li>
        </ul>
    </div>
    <div class="service-2 position" style="left:820px">
        <div class="val-des" style="left:-30px;">Overseas resume database
        </div>
        <ul class="val">
            <li>60 million overseas resumes</li>
            <li>400 thousand overseas Chinese resumes</li>
        </ul>
    </div>
    <div class="service-3 position" style="left:-20px">
        <div class="val-des" style="left:-20px;">Overseas hiring event</div>
        <ul class="val">
            <li>Online & offline, one way solution</li>
            <li>Campus & Professionals</li>
            <li>Hiring & Branding</li>
        </ul>
    </div>
    <div class="service-4 position">
        <div class="val-des" style="border:none;left:-30px;">
        <div style="border-bottom:2px solid #C8A062">Qualified candidate</div>
        <span style="border-bottom:2px solid #C8A062">source & screen</span>
        </div>
        <ul class="val">
            <li>Various channels searching</li>
            <li>Phone call interviewing</li>
            <li>Completed in 30 ~ 45 days</li>
            <li>High quality service with reasonable price</li>
        </ul>
    </div>
    <div class="service-5 position" style='width: 330px;'>
        <div class="val-des">International headhunting</div>
        <ul class="val">
            <li>Pre-research for each position</li>
            <li>Targeted candidates searching</li>
            <li>High level project Management</li>
            <li>Result-oriented payment</li>
        </ul>
    </div>
    <div class="service-6 position">
        <div class="val-des">Expat talent job fair</div>
        <ul class="val">
            <li>Held in Beijing, Shanghai, Guangzhou and Shenzhen</li>
            <li>Over 1000 attendance bring your brand biggest exposure</li>
        </ul>
    </div>
</div>
