<div style="font-size:16px;margin-top:50px;">HelloCareer根据企业海外招聘需求，整合美国、加拿大、英国、德国等<span style="font-size:30px;color:#f07f1d;">全球30多个国家和地区</span>合作伙伴的资源，为企业提供
<span style="text-decoration:underline">定制化国际人才招聘解决方案</span>
</div>
<div class="service-bg">
    <div class="service-1 position">
        <div class="val-des">海外职位发布
        </div>
        <ul class="val">
            <li>覆盖欧美、亚太30多个国家及地区</li>
            <li>国外主流网站发布，数量质量兼备</li>
            <li>精准匹配推送，职位直达合格候选人</li>
        </ul>
    </div>
    <div class="service-2 position">
        <div class="val-des">海外简历库
        </div>
        <ul class="val">
            <li>6,000万国际人才库</li>
            <li>40万海外华人简历库</li>
        </ul>
    </div>
    <div class="service-3 position">
        <div class="val-des">海外专场招聘会</div>
        <ul class="val">
            <li>线上线下全流程外包</li>
            <li>校园招聘 & 社会专场</li>
            <li>招聘结果保障与雇主品牌传播双赢</li>
        </ul>
    </div>
    <div class="service-4 position">
        <div class="val-des">合格候选人推荐</div>
        <ul class="val">
            <li>多渠道寻找目标人选</li>
            <li>资深顾问电话面试把关</li>
            <li>30天至45天高效执行</li>
            <li>收费合理，超高性价比。</li>
        </ul>
    </div>
    <div class="service-5 position">
        <div class="val-des">国际猎头 </div>
        <ul class="val">
            <li>案前职位诊断，为招聘把脉。</li>
            <li>定向猎挖，聚焦目标候选人。</li>
            <li>招聘进度管理，全程跟进。</li>
            <li>按结果付费，物有所值。</li>
        </ul>
    </div>
    <div class="service-6 position">
        <div class="val-des">外籍人才招聘会 </div>
        <ul class="val">
            <li>北上广深，定期举办。</li>
            <li>每场千人，与多国外籍人才现场交流。</li>
        </ul>
    </div>
</div>
