<%- model_class = Job -%>
<div class="page-header">
  <h1>职位</h1>
</div>
<%= grid(@tasks_grid, show_filters: :always) do |g|

  g.column name: model_class.human_attribute_name(:id), attribute: 'id' do |job|
    job.id
  end

  g.column name: model_class.human_attribute_name(:title), attribute: 'title' do |job|
    job.title
  end

  g.column name: model_class.human_attribute_name(:salary), attribute: 'salary' do |job|
    job.salary
  end

#  g.column name: model_class.human_attribute_name(:end_date), attribute: 'end_date', filter: false do |job|
#    job.end_date
#  end

  g.column name: model_class.human_attribute_name(:admin_setting_city_id), model: 'Admin::Setting::City', attribute: 'name' do |job|
    job.cities.map{ |c| c.name }.join(', ')
  end

  g.column name: model_class.human_attribute_name(:company_id), model: 'Company', attribute: 'name' do |job|
    job.company.name
  end

  g.column name: model_class.human_attribute_name(:jobposter_id), model: 'Jobposter', attribute: 'email' do |job|
    job.jobposter.email
  end

  g.column name: '申请', model: 'Application', attribute: 'id', filter: false do |job|
    link_to job.applications.count, applications_path(job_id: job.id)
  end

  g.column name: model_class.human_attribute_name(:created_at), attribute: 'created_at', filter: false do |job|
    job.created_at
  end

  g.column do |job|
    link_to t('.edit', :default => t("helpers.links.edit")), edit_job_path(job), :class => 'btn btn-default btn-xs'
  end

  g.column do |job|
    link_to t('.destroy', :default => t("helpers.links.destroy")), job_path(job), :class => 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Are you sure?' }
  end
end -%>
<div><%= link_to t('.new', :default => t("helpers.links.new")), new_job_path, :class => 'btn btn-primary' %></div>
