<%- model_class = Job -%>
<div class="jd" id="jd">
<div class="row">
<div class="col-sm-4">
<div class="jd-list" id="jdList">   

<%= render partial: "jobs/list", locals: { jobs: @jobs, page: @page } %>

</div>
<div id="paginator">
  <%= paginate @jobs, :remote => true %>
</div>
</div>
<div class="jd-content col-sm-8">
      <%= render ("jobs/job") %>
  </div>
</div><!--end content-->
<div class="clearfix"></div>
</div><!--end jd-->

<% content_for :top do %>
<div class="job-banner banner"></div>
<div class="container">
  <%= render("shared/search") %>
</div>
<div class="line"></div>
<% end %>

