<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel"><%= t('resume_list') %></h4>
</div>
<div class="modal-body clearfix">
  <% if resumes.present? %>
    <% resumes.each do |r| %>
      <div>
        <%= link_to r.name, "#{Rails.application.config.resumePath}#{r.path}", target: "_blank" %>
      </div>  
    <% end %>
  <% end %>
</div>