<%- model_class = User -%>
<div class="page-header">
  <h1>所有用户</h1>
</div>
<%= grid(@users, show_filters: :always) do |g|

  g.column name: model_class.human_attribute_name(:email), attribute: 'email' do |u|
    u.email
  end

  g.column name: model_class.human_attribute_name(:name), attribute: 'name' do |u|
    u.name
  end

  g.column name: model_class.human_attribute_name(:job), attribute: 'job' do |u|
    u.job
  end

  g.column name: model_class.human_attribute_name(:tel), attribute: 'tel' do |u|
    u.tel
  end

  g.column name: model_class.human_attribute_name(:country), attribute: 'country' do |u|
    u.country
  end

  g.column name: model_class.human_attribute_name(:resume_id), attribute: 'resume_id', filter: false do |u|
    link_to u.resumes.count, show_resumes_path(id: u.id), remote: true
  end

  g.column name: model_class.human_attribute_name(:created_at), attribute: 'created_at', filter: false do |u|
    u.created_at
  end

  g.column do |u|
    link_to t('.destroy', :default => t("helpers.links.destroy")), user_delete_path(id: u.id), :class => 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Are you sure?' }
  end

end -%>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-md">
    <div class="modal-content job-modal-content clearfix">
    </div>
  </div>
</div>
