
<p style="margin-bottom:20px;padding-left:30px;">Hello, We are HelloCareer, a global talents recruitment solution provider, focusing on assisting Chinese local companies and government organizations to hire and build connections with the targeted candidates worldwide.</p>
<ul>
	<li>We have more than 10 years’ experience in the overseas recruitment market, our knowledge is not only based on the hiring channel, but also the hiring culture of different countries which is even more important for clients.</li>
	<li>We have partnership with many overseas Chinese communities and websites, also we built strong connections with many famous universities in US, Canada, UK, Germany, Singapore, Malaysia, Vietnam and Australia.</li>
	<li>We have rich experience in finance, IT, energy, biotech, automobile and mechanical engineering.</li>
	<li>We provide service include but not limited to overseas job posting, overseas resume database, overseas talent source & screen, overseas headhunting and overseas hiring event.</li>
	<li>Our team have successfully provide various overseas recruitment solutions for the globalization companies in China, such as Lenovo, Huawei, Tencent, Zoomlion, CCTV, CSR, Wuxi Apptech, Hair Group, Sanpower Group and AB Group. Also, we helped SAFEA, 1000 plan, the human resource and social security bureau of Guizhou province and Ningbo city to attract overseas experts come to China.</li>
	<li>We provide many extra consulting service includes but not limited to online recruitment management, global talent compensation report and employer branding.</li>
</ul>

<p style="margin-top:30px;padding-left:30px;">Our mission is to be a client-trusted, staff-motivated and well running human resource provider based on our responsibilities and professionals. </p>