/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.form-control{ box-shadow: none;}
.top-nav {
    height: 25px;
    background-color: #f07f1d;
    color: #fff;
    line-height: 25px;
    text-align: right;
}

.top-nav a {
    color: #fff;
}

    .nav.navbar-nav {
        float: right;
    }
    .hp-foot-nav {
        width: 60%;
    }


    .container {
        width: 984px;
    }


.navbar .navbar-brand {
    background: url(/assets/logo.png) no-repeat;
    width: 234px;
    height: 54px;
    text-indent: -9999px;
    margin: 12px 0 0 0px !important;
    padding: 0;
}

.navbar-nav > li > a {
    font-size: 18px;
    font-weight: bold;
}

.nav > li:last-child > a {
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: none;
}
.center{
    margin: 0 auto;
}
.modal-dialog{margin-top: 200px;}

.panel{
    border: 0;
    box-shadow: none;
    margin-top: 20px;
}
.panel-body{
    border: 1px solid #ddd;
    border-top: none;
}
.btn130{
    width: 130px;
}