.main-search{
	text-align:center;
	padding: 30px 10px;
	background-color:#eee;
	margin-bottom:40px;
	.form-control{
		padding-left:50px
	}
	.fa{
		left:0;
		font-size:1.5em;
		color:#ccc;
	}
	.btn{ width:130px;}
	.form-group, .form-control{
		width:100%;
	}
}

/*login*/
.login-b{
	border:solid 1px #ddd;
	padding:10px 30px;
	height:340px;
}