@import "v";
.hp-bg{	
    background: url(/assets/bg1.jpg) no-repeat center center;
    height:477px;

    .white-bg{
    	background-color: rgba(255,255,255,0.8);
    	width:85%;
    	margin:90px auto 0 auto;
    	padding:30px 0;
    	text-align: center;
    	border-radius: 6px;
    	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  		box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    h1{font-size:40px; color:$c1}
    .registerNow {font-size:40px;margin:60px 0 0 0;}
    .becomeVIP{ font-size:2em; }

}

.main-search{
	text-align:center;
	padding: 30px 10px;
	background-color:#eee;
	margin-bottom:40px;
	.form-control{
		padding-left:50px
	}
	.fa{
		left:0;
		font-size:1.5em;
		color:#ccc;
	}
	.btn{ width:130px;}
	.form-group, .form-control{
		width:100%;
	}
}

/*login*/
.login-b{
	border:solid 1px #ddd;
	padding:10px 30px;
	height:340px;
}