@import "v";

.font-c1{color:$c1; font-size:1.2em;}

.hp-bg{	
    .item{height:477px;background-position: center center;}
    .flash1{background-image:url(/assets/bg1.jpg);}
    .flash2{background-image:url(/assets/bg2.jpg);}
    .flash3{background-image:url(/assets/bg3.jpg);}
    .flash4{background-image:url(/assets/bg4.jpg);}
    .white-bg{
    	background-color: rgba(255,255,255,0.8);
    	width:85%;
    	margin:-400px auto 0 auto;
    	padding:30px 0;
    	text-align: center;
    	border-radius: 6px;
    	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  		box-shadow: 0 6px 12px rgba(0,0,0,.175);
        z-index:100;
        position:relative;
    }
    h1{font-size:40px; color:$c1}
    .registerNow {font-size:40px;margin:60px 0 0 0;}
    .becomeVIP{ font-size:2em; }
}


.hp-joblist{
    line-height: 35px
}

.hp-joblist .value-desc {
    font-weight: bold;
    margin-bottom: 10px;
}

.hp-block-title-events {
    background: url(/assets/h_event.png) no-repeat center center;
    height: 68px;
    margin-top: $blockMargin;
}

.hp-block-title-jobs {
    background: url(/assets/h_job.png) no-repeat center center;
    height: 68px;
    margin-top: $blockMargin;
    z-index: 100;
    position: relative;
}
.hp-block-title-vip{
   background: url(/assets/h_vip.png) no-repeat center center;
    height: 68px;
    margin-top: $blockMargin;
    z-index: 100;
    position: relative; 
}
.hp-job-border {
    padding: 40px 0px 15px 40px;
    border-radius: 4px;
    background-color:#eee;
}

.hp-more-job {
    font-size: 14px;
    a{
    	color:$c1;
    	text-decoration: none;
        line-height:40px;
    }
}

.big-btn {
    display: block;
    width: 200px;
    font-size: 1.5em;
}


.main-search{
	text-align:center;
	padding: 50px 0px;
	margin-bottom:40px;
    border-bottom: 1px solid #f07f1d;
	.form-control{
		padding-left:50px
	}
	.fa{
		left:0;
		font-size:1.5em;
		color:#ccc;
	}
	.btn{ width:130px;}
	.form-group, .form-control{
		width:100%;
	}
}

/*login*/
.login-b{

	height:340px;
}

.footer {
    background-color: #f07f1d;
    margin-top: $blockMargin;
    padding-bottom: 40px;
}
.footer a, .footer{
	color: #fff;
}

.hp-foot-nav {
    margin: 0 auto;
    text-align: center;
}
.hp-foot-nav a{
    line-height: 3; font-size: 1.3em;
}
.hp-footer-title{font-size: 1.3em; line-height: 3;}
.hp-footer-val-desc{
}
.hp-footer-val{
	margin-bottom: 10px;
}
.hp-footer-weixin{border: solid 10px #fff;}
.footer-weixin-wrapper{text-align: center;}
.footer .list-unstyled li{
	line-height: 2;
}
.footer {
	.nav{
	float:none !important;
	width: 60%;
	margin:0 auto;
		li{
		width:20%
		}
	}
  .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color:lighten($c1, 30%);
    }
}
.line{ height:1px;background-color:$c1;}
h2{margin-bottom:30px;}

form .btn{
  padding-left: 30px;
  padding-right: 30px;
}

.job-banner{
    background:url(/assets/b_search.png) no-repeat center center;
    height:151px;
}
.about-banner-bg{
        background: linear-gradient(#363b3a, #8c8f8c);
        .about-banner{
            background:url(/assets/b_about.jpg) no-repeat center center;
            height:477px;
        }
}
.sign-banner{
    background:url(/assets/b_sign_in.png) no-repeat center center;
    height:177px;
}
.login-banner{
    background:url(/assets/b_login.png) no-repeat center center;
    height:168px;
}