@import "v";
.job-item {
    margin-bottom: 15px;
    .jtitle{
        font-size: 1.2em;
    }
    .jcomplany{
    	 font-size: 1.2em;
    }
}
.jd{
	margin-top:30px;
	background-color:$c1;
	padding:10px 2px 2px 2px;
	.content {
		background-color:#fff;
	}
    .fa{
        color:$c1;
        font-size:1.2em;
        padding-right:10px;
    }

    .jd-val-desc, h1{font-size: 1.5em; line-height: 3; margin:0;padding:0; color:$c1;}

    .jd-apply{
        width:130px;
    }
    .jd-btn{
        padding-left: 30px;
    }

    .jtitle{
     border-bottom: 1px solid $c1;
    }
    .jtitle a{
     color:$c1;
     font-size:1.5em;
    }

    .jd-list{ float:left; width:300px;}
    .jd-content{float:right; width:640px;}
}

