@import "v";
.form .control-label span{
	color:#f00;
}
.more-regist-info{
	  font-size: 2em;
  text-align: center;
  line-height: 3;
  color:$c1;
}

.login-border{
	border:solid 1px $c1;
	padding: 30px 0;
}