
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

#error_explanation {
  padding: 7px;
  margin: 0 0 20px 17%;
  background-color: #f0f0f0;
  h2 {
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul{
    margin-bottom:0;
  }
  ul li {
    font-size: 12px;
    list-style: square;
    line-height: 1.5;
  }
}
