<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_setting_experience.name %>
</p>

<%= link_to 'Edit', edit_admin_setting_experience_path(@admin_setting_experience) %> |
<%= link_to 'Back', admin_setting_experiences_path %>
