<span><%= link_to t('my_info'), myInfo_path, class: "my-info-link" %></span>
<span><%= link_to t('my_resumes'), my_resumes_path, class: "my-info-link" %></span>
<span><%= link_to t('my_applications'), my_applications_path, class: "my-info-link" %></span>
<span><%= link_to t('my_favorites'), my_favorites_path, class: "my-info-link" %></span>